* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(204, 192, 192);
}

.container {
  display: flex;
  height: 100vh;
  flex-basis: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
